@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../Recursos/Imagenes/paper-texture_\(4\).jpeg);
}

/* Navegador */
.nav-container {
  border: 10px solid black;
}

.nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin: 10px 0px;
}

.nav-container a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

@media screen and (max-width: 767px) {
  .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Footer */
.footer-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 10px solid black;
  padding: 10px 0px;
}

.footer-container2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container2 p {
  font-size: 1.3rem;
}

.footer-container2 li {
  list-style: none;
}

/* Principal (index) */
/* Sección 1 */
/* Bienvenida */
.bienv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
}

.bienv-container h1 {
  margin: 10px 0px;
  font-size: 1.8rem;
}

.bienv-container p {
  margin: 5px 0px;
  font-size: 1.5rem;
}

.bienv-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px dotted black;
  padding: 0px 20%;
}

@media screen and (max-width: 769px) {
  .bienv-container h1 {
    font-size: 1.6rem;
  }
  .bienv-container p {
    font-size: 1.3rem;
  }
}

/* Sección 2 */
/* Imagen de Bienvenida */
.img-bienv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-bienv-container img {
  border: 10px double black;
}

@media screen and (max-width: 1023px) {
  .img-bienv-container img {
    width: 100%;
  }
}

/* Sección 3 */
/* Título h2 */
.seccion3-h2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
}

.seccion3-h2-container h2 {
  font-size: 1.8rem;
  padding: 10px 0px;
}

.seccion3-h2-container div {
  border: 5px dotted black;
  padding: 0px 20%;
}

@media screen and (max-width: 769px) {
  .seccion3-h2-container h2 {
    font-size: 1.6rem;
    padding: 0px 0px;
  }
}

/* Sección 4 */
/* Imagenes */
.seccion4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 50px 0px;
}

.seccion4 div {
  border: 10px double black;
}

.seccion4__img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 426px) {
  .seccion4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Sección 5 */
/* Video */
.secc-vid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 769px) {
  .secc-vid-container div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Sección 6 */
/* Despedida */
.secc-desp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
}

.secc-desp-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px dotted black;
  padding: 0px 20%;
}

.secc-desp-container h2 {
  margin: 10px 0px;
  font-size: 1.8rem;
}

.secc-desp-container p {
  margin: 5px 0px;
  font-size: 1.5rem;
}

@media screen and (max-width: 769px) {
  .secc-desp-container h2 {
    font-size: 1.6rem;
  }
  .secc-desp-container p {
    font-size: 1.3rem;
  }
}

/* RESERVAS */
/* Sección 1 */
/* Grid */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-color: brown;
  margin: 100px 0px;
  padding: 10px 0px;
}

.grid-container__pulsar:hover {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.grid-container__img {
  border: 5px dotted black;
  width: 500px;
  height: 315px;
}

@media screen and (max-width: 1023px) {
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 504px) {
  .grid-img {
    width: 100%;
    height: 100%;
  }
}

/* animaciones */
.box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.animation:hover {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: heartBeat;
          animation: heartBeat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.reservasonline {
  
  border: 7px dotted black;
  padding: 0px 20%;
  font-size: 1.4rem;
  margin-top: 2cm;
  margin-bottom: 2cm;
}

/*# sourceMappingURL=style.css.map */

.maps {
  
}