* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../Recursos/Imagenes/paper-texture.jpeg);
}

$dottedborder: 5px dotted black;
$solidborder: 10px solid black;
/* Navegador */
.nav-container {
  border: $solidborder;
}
.nav-container {
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px 0px;
  }
}
.nav-container {
  a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
  }
}
@media screen and (max-width: 767px) {
  .nav-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Footer */
.footer-container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: $solidborder;
  padding: 10px 0px;
}
.footer-container2 ul {
  display: flex;
}
.footer-container2 p {
  font-size: 1.3rem;
}
.footer-container2 li {
  list-style: none;
}

/* Principal (index) */
/* Sección 1 */
/* Bienvenida */
.bienv-container {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
.bienv-container h1 {
  margin: 10px 0px;
  font-size: 1.8rem;
}
.bienv-container p {
  margin: 5px 0px;
  font-size: 1.5rem;
}
.bienv-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $dottedborder;
  padding: 0px 20%;
}
@media screen and (max-width: 769px) {
  .bienv-container h1 {
    font-size: 1.6rem;
  }
  .bienv-container p {
    font-size: 1.3rem;
  }
}

/* Sección 2 */
/* Imagen de Bienvenida */
.img-bienv-container {
  display: flex;
  justify-content: center;
}
.img-bienv-container img {
  border: 10px double black;
}
@media screen and (max-width: 1023px) {
  .img-bienv-container img {
    width: 100%;
  }
}

/* Sección 3 */
/* Título h2 */
.seccion3-h2-container {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
.seccion3-h2-container h2 {
  font-size: 1.8rem;
  padding: 10px 0px;
}
.seccion3-h2-container div {
  border: $dottedborder;
  padding: 0px 20%;
}
@media screen and (max-width: 769px) {
  .seccion3-h2-container h2 {
    font-size: 1.6rem;
    padding: 0px 0px;
  }
}

/* Sección 4 */
/* Imagenes */
.seccion4 {
  div {
    border: 10px double black;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
}

@media screen and (max-width: 426px) {
  .seccion4 {
    display: flex;
    flex-direction: column;
  }
}

/* Sección 5 */

.secc-vid-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 769px) {
  .secc-vid-container div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* Sección 6 */
/* Despedida */
.secc-desp-container {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
.secc-desp-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $dottedborder;
  padding: 0px 20%;
}
.secc-desp-container h2 {
  margin: 10px 0px;
  font-size: 1.8rem;
}
.secc-desp-container p {
  margin: 5px 0px;
  font-size: 1.5rem;
}
@media screen and (max-width: 769px) {
  .secc-desp-container h2 {
    font-size: 1.6rem;
  }
  .secc-desp-container p {
    font-size: 1.3rem;
  }
}


/* Sección 1 */
/* Grid */
.grid-container {
    &__pulsar {
        &:hover {
            display: inline-block;
            margin: 0 0.5rem;
            animation: headShake;
            animation-duration: 4s;
        }
    
    }

    &__img {
        border: $dottedborder;
        width: 500px;
        height: 315px;
    }
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
  align-items: end;
  background-color: brown;
  margin: 100px 0px;
  padding: 10px 0px;
}
@media screen and (max-width: 1023px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 504px) {
  .grid-container__img {
    width: 100%;
    height: 100%;
  }
}
/* animaciones */
.box {
  &:hover {
    transform: scale(1.2);
  }
}

.animation {
  &:hover {
    display: inline-block;
    margin: 0 0.5rem;
    animation: heartBeat;
    animation-duration: 2s;
  }
}